@use '../styles/variables' as *;
@use '../styles/mixins' as *;

// ======================
// MISSION BLOCK (BEM)
// ======================

.mission {
  background-color: $color-gray-light;
  padding: 60px 0;

  &__container {
    width: 1243px;
    height: 416px;
    margin: 0;
    padding: 0 $spacing-md;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-md;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
    }
  }

  // Element: Quote container
  &__quote {
    width: 629px;
    max-width: 100%;

    @media (max-width: $breakpoint-md) {
      width: 100%;
      text-align: center;
    }
  }

  // Element: Blockquote
  &__blockquote {
    font-family: $font-inter;
    font-size: 1.75rem;
    font-style: italic;
    color: $color-primary-blue;
    line-height: 1.6;
    margin: 0;

    @media (max-width: $breakpoint-md) {
      font-size: 1.3rem;
    }
  }

  // Element: Quote marks
  &__open-quote,
  &__close-quote {
    font-family: $font-inter;
    font-size: 3rem;
    font-weight: 700;
    color: $color-primary-blue;
    font-style: italic;
    line-height: 0;
    vertical-align: middle;
  }

  &__open-quote {
    margin-right: 2px;
  }

  &__close-quote {
    margin-left: 2px;
  }

  // Element: Strong text
  &__strong {
    color: $color-primary-blue;
    font-weight: 700;
    font-style: normal;
  }

  // Element: Image container
  &__image {
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      width: 332px;
      height: 416px;
      background-color: #FAF2E9;
      border-radius: 50% 50% 0 0;
      z-index: 0;

      @media (max-width: $breakpoint-md) {
        width: 180px;
        height: 220px;
      }
    }

    @media (max-width: $breakpoint-md) {
      order: -1;
    }
  }

  &__img {
    width: 477px;
    height: 414px;
    position: relative;
    z-index: 1;
    right: 65px;

    @media (max-width: $breakpoint-md) {
      max-width: 200px;
    }
  }
}
